.container.is-compress {
  max-width: $desktop;
}

.app-container {
  min-height: 100vh;
  background: #fafafa;
}

.pb-100 {
  padding-bottom: 100px;
}

@media only screen and (max-width: 450px) {
  .columns {
    margin: 0 !important;
  }
}
